.cargando{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 45, 44, 0.41);
    display: flex;
    justify-content: center;
    align-items: center; 
    // color: rgb(53, 17, 237)  
}