@import "../../assets/styles/variables.scss";

.footer {
    background-image: url("src/assets/images/footerBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    height: 20rem;


    .leftColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;
        width: 50%;

        .socialContainer{
            display: flex;
            height: 3rem;


            .socialIcon{
                width: 3rem;
                height: 3rem;
            }

            .socialName{
                display: flex;
                align-self: center;
                background-color: rgb(250, 252, 254, 44%);
                
                margin-left: 5%;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;

                border-radius: $border-radius-18px;
            }
        }
    }


    .rightColumn {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 50%;
    
        .logoFooterContainer {
            display: flex;
            justify-content: right;
    
            .logoFooter {
                width: 5rem;
            }
        }
    
        .textContainer {
            display: flex;
            margin-left: 19%;
            background-color: rgba(75, 75, 75, 0.42);
            padding: 1rem;
            text-align: center;
            border-radius: $border-radius-18px;
    
            p {
                display: flex;
                width: 90%;
                color: $font-color-white;
            }
        }
    }
    

}

.copyRight{
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: $background-color-black;
    height: 4rem;

    .copyRightTextContainer{
        display: flex;
        color: $font-color-white;
    }
}
