@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Michroma&display=swap");
@import "../../assets/styles/variables.scss";

.containerBusqueda {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span::first-letter{
    font-family: "michroma";
  }
  & span {
    font-family: "Marvel";
    font-size: 2rem;
  }
  & input {
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: $color-light-white;
    padding-left: 1rem;
    font-family: "Marvel";
    font-size: 1.2rem;
  }
  
}
.inputWithIcon {
  width: 50%;
  position: relative;
}
.searchIcon {
  position: absolute;
  right: 1rem; // Ajusta la posición del ícono a la derecha del input
  top: 50%;
  transform: translateY(-15%);
  cursor: pointer;
}

.containerFiltros {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 10px 30px;
  gap: 2%;
  & button::first-letter{
    font-family: "Michroma";
  }
  & button {
    margin: 0;
    border: none;
    width: 20%;
    border-radius: 20px;
    background-color: $color-light-white;
    font-size: 1.2rem;
    font-family: "Marvel";
    text-align: center;
    color: $color-black;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      background-color: $color-light-blue; 
      transform: scale(1.05);
    }
  }
}


@media only screen and (min-width: 620px) and (max-width: 767px) {
.containerFiltros{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: red;
  height: 10rem;
  gap: 2%;
}



}

@media only screen and (min-width: 320px) and (max-width: 619px) {

  .containerFiltros{
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
      width: 7rem;
      background-color: transparent;
    }
  }

}