@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Michroma&display=swap");
@import "../../assets/styles/variables.scss";

.containerBusqueda {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span::first-letter{
    font-family: "michroma";
  }
  & span {
    font-family: "Marvel";
    font-size: 2rem;
  }
  & input {
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: #d9d9d9;
    padding-left: 1rem;
    font-family: "Marvel";
    font-size: 1.2rem;
  }
}
.inputWithIcon {
  width: 50%;
  position: relative;
}
.searchIcon {
  position: absolute;
  right: 1rem; // Ajusta la posición del ícono a la derecha del input
  top: 50%;
  transform: translateY(-15%);
  cursor: pointer;
}

.containerFiltros {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 10px 30px;
  & button::first-letter{
    font-family: "Michroma";
  }
  & button {
    margin: 0;
    border: none;
    width: 18%;
    border-radius: 20px;
    background-color: #d9d9d9;
    font-size: 1.2rem;
    font-family: "Marvel";
    text-align: center;
    color: $color-black;
  }
}
