@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

body {
  font-family: "Michroma", sans-serif;
}

.destinosContainer {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 16px;
  // justify-content: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 15rem;
  height: 280px;
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;

  transition: transform 0.3s ease; /* Transición para el agrandamiento */

  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}

// .destinoItem {
//   flex: 1 1 calc(50% - 16px);
//   box-sizing: border-box;
//   max-width: calc(50% - 16px);
//   margin-bottom: 16px;
//   text-align: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
    
    &:hover {
      transform: scale(1.05);
    }
  }
// }
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .contenedor {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    font-size: 14px; /* Tamaño de letra para pantallas pequeñas */
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor {
    width: 80%; /* Ancho del 80% en pantallas medianas */
    font-size: 16px; /* Tamaño de letra para pantallas medianas */
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1025px) {
  .contenedor {
    width: 60%; /* Ancho del 60% en pantallas grandes */
    font-size: 18px; /* Tamaño de letra para pantallas grandes */
  }
}
