.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
    justify-content: space-evenly;
    padding-bottom: 20px;

}
.card{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

}
.cards:hover {
    cursor: pointer;
}