@import "../../assets/styles/variables.scss";

.aboutUsMainContainer {
    display: flex;
    flex-direction: column;
    background-image: url("src/assets/images/about/about background image.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* Para cubrir todo el contenedor */
    background-position: center;
    /* Para centrar la imagen */


    .logoBanner {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        height: 20rem;

        opacity: 0;
        /* Inicialmente, la sección estará oculta */
        transform: translateY(-50px);
        /* La sección se moverá hacia arriba 50px */

        /* Definimos la animación */
        animation: slideIn 0.5s ease forwards;

        @keyframes slideIn {
            from {
                opacity: 0;
                /* La opacidad inicial es 0 */
                transform: translateY(-50px);
                /* La posición inicial es 50px hacia arriba */
            }

            to {
                opacity: 1;
                /* La opacidad final es 1 */
                transform: translateY(0);
                /* La posición final es 0 (sin desplazamiento) */
            }
        }



        .logoContainer {
            height: 20rem;

            img {
                width: 20rem;
            }
        }

        .figcapion {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: -4rem;

            .figcaptionTitle {
                font-weight: bold;
                font-size: 2.5rem;
            }

            .figcaptionText {}
        }


        //styles section



    }



    .ourMission {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
        margin-right: 7%;
        gap: 2%;
        opacity: 0;
        transform: translateY(-50px);

        animation: slideIn 1s ease forwards;

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


        .missionContainer {
            display: flex;
            flex-direction: column;

            background-color: $background-color-black;
            border-radius: $border-radius-18px;

            text-align: center;

            gap: 2rem;
            width: 22rem;
            height: 39rem;

            .missionTitle {
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 2rem;

                font-size: 1.3rem;
            }

            .missionText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: $color-white;


                padding-left: 2rem;
                padding-right: 2rem;
                height: 100%;

                font-size: 1.2rem;
            }
        }
    }

    .collaboratorContainer {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 36rem;
        margin-bottom: 20rem;
    
        .collabs {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5%;
            opacity: 0;
            transform: translateY(-50px);
            animation: slideIn 1s ease forwards;
    
            @keyframes slideIn {
                from {
                    opacity: 0;
                    transform: translateY(-50px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
    
            &.hidden {
                display: none;
            }
    
            .collaboratorIconContainer {
                display: flex;
                flex-direction: column;
    
                p {
                    color: $color-white;
                    display: flex;
                    align-self: center;
                    text-align: center;
                    width: 70%;
                }
            }
        }
    }

    .footerBannerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
        margin-right: 7%;
        line-height: 1.6rem;
      
        &.show {
          .passionContainer,
          .joinUs,
          .thanks {
            animation: slideIn 1s ease forwards;
          }
        }
      
        .passionContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
      
          .passionTitle {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: #ffffff;
          }
      
          .passionText {
            font-size: 1.2rem;
            color: #ffffff;
          }
        }
      
        .joinUs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $background-color-black;
          border-radius: $border-radius-18px;
          margin-bottom: 5rem;
          width: 80%;
          padding: 1rem;
      
          .joinUsTitle {
            margin-bottom: 1rem;
            font-size: 1.5rem;
          }
      
          .joinUsText {
            font-size: 1.2rem;
            color: $color-white;
            line-height: 2rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          }
        }
      
        .thanks {
          margin-bottom: 5rem;
          font-size: 1.8rem;
          width: 40%;
          text-align: center;
        }
      
        @keyframes slideIn {
          from {
            opacity: 0;
            transform: translateY(-50px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      
}