  .carousel {
    margin-top: 20px; 
    margin-left: 2%;
    
    .carousel-img {
      width: 95%;
      height: 300px;
      transition: transform 0.2s ease; 
  
      &:hover {
        transform: scale(1.05);
      }
      &:focus {
        outline: none;
      }
    }
  }
  
  .slick-dots {
    bottom: -2.5rem;
  }


