.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 20px; /* Agrega espacio para evitar que los slides se peguen al borde inferior */
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    margin-right: 20px; /* Agrega espacio entre los slides */
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }