//estilos contenedor del carrusel
.carousel {
  margin-top: 20px; 
  margin-left: 40px;
  
//estilos a las imagenes del carrusel
  .carousel-img {
    width: 400px;
    height: 300px;
    transition: transform 0.2s ease; 

    &:hover {
      transform: scale(1.05);
    }
  }
}