header {
    background-color: #F9D99A;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;

    
    
}


.ImgLogo {
    position: relative;
    width: 170px;
    left: 25px;
   top: 8px;
    
    }

    nav a {
        color: #000000; 
        text-decoration: none;
        font-weight: normal;
      }

.NavButton {

    ul{
        display: flex;
        margin: 20px;
        align-items: center;
        position: absolute;
        left: 20%;
        top: -15px;
        justify-content: flex-end;
        justify-content: space-between;
        
    }
    li{
        margin-left: 45px;
        list-style: none;
        font-size: 25px;
        
        
    }

    button {
        margin-left: 25px;
        background-color: transparent;
        border: none;
    }
}
