@import "../../assets/styles/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.containerHome{
    background-color: $color-light-blue;
}
.destinosContainer{
  padding-left: 5%;
  padding-right: 5%;
}