@import "../../assets/styles/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.swrapper{
  overflow: hidden;
  padding-top: 0.5rem;
  background-color: $color-light-blue;

}
.destinosContainer{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.agregarDestino{
  display: flex;
  justify-content: flex-end;
  margin-right: 6rem;
  margin-top: 10px;
}