@import "../../assets/styles/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.swrapper{
  overflow: hidden;

}
.containerHome{
    background-color: $color-light-blue;
}
.destinosContainer{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}