@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    font-family: "Michroma", sans-serif;
}

div {
    .ContenedorUno{
        align-items: center;
        text-align: center;
        margin-top: 30px;

     }
     .TituloDetalle{
        width: 100%;
        height: auto;
        margin-bottom: none !important;
        font-size: 27px;

   
     }
     .ImagenPrin{
        margin-top: -45px;
      
       img{
        margin-top: 0px;

        width: 95%;
        height: 70vh;
       }
     }
     .TextoUno{
        h3{
            width:99%;
            font-size: 26px;
            font-weight: normal;
        }
     }
     .ImagenSec{

        width: 97.5vw;
        margin-left: 10px;
        margin-right: 5px;

        img{
            width: 100%;
            padding-top: 40px;
            width: 100%;
            height: 350px;
        }
     }
     .InfoInter{
       
        h2{

            width: 650px;
            font-size: 45px;
            background-color: #ECFA9B; 
            padding: 20px; 
            border: 1px solid #ccc;
            border-radius: 40px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
            left: 25.5%;
            font-weight: normal;

        }
     }
    
}
