@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Michroma&display=swap");

.containerButton {
 
  width: 90%;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    background-color: #ecfa9b;
    border-radius: 25px;
    border: none;
    width: 60vw;
    height: 5rem;
    font-family: "Michroma";
    font-size: 2rem;
  }
}
.contComercio{
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerComercio {

  padding: 30px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  & h3 {
    font-family: "Michroma";
    font-size: 1.5rem;
  }
  & p {
    font-family: "Michroma";
    font-size: 1rem;
    padding-left: 2rem;
    text-align: center;
  }

  @media (max-width: 768px) { 
    & button {
      width: 80vw;
    }
  }

  .imagenComercio {
    
    max-width: 100%;
    padding-left: 2rem;
  }
}


