.map-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  
    iframe {
      border-radius: 8px;
    }
  }

  .ubicationTitle{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }